body {
    background-color:teal;
}

#container{
  display:flex;
  justify-content:center;
}

 /* #grid {} */
    

                        




#display-question{
display:"hide";
} 

.display {
    display:none;
}

h1{
    display:none;
}

.choices{
    display:none;
}

#display-image{
    display:none;
}

h1 {
    font-size:30px;
}

@media (max-width:414px){
    #container{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        justify-items:right;

      }

      #display-image{
          display:flex;
          justify-items:center;
          width:200px;
      }

      .still {
        width:200px;
        margin:20px
        
      }

      .thumbs-down {
        width:200px;
        margin:20px;
      }



}

