body {
    background-color:teal;
}

/* #container{
   margin:auto;
   display:block;
} */

/* #grid {
margin:auto;

    display:grid;
    align-content:center;
    grid-template-rows: 80% 80% 80%;
    grid-template-columns:35% 35% 35%;
    justify-items:stretch;

    /* grid-template-areas:  */
                        




#display-question{
display:"hide";
} 

.display {
    display:none;
}

h1{
    display:none;
}

.choices{
    display:none;
}

#display-image{
    display:none;
}

h1 {
    font-size:30px;
}

